* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    background-color: rgb(41, 41, 41);
}

/*mobile*/
.contaner {
    background-image: url("..\\images\\bcg.jpg");
    background-size: cover;
    width: 100%;
    position: absolute;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    height: 5rem;
    width: 100%;
    background: black;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    border-bottom: 4px solid;
    border-image-source: radial-gradient(rgb(255, 255, 255), black);
    border-image-slice: 1;
}

.form {
    background: rgb(85, 85, 85);
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    margin: 5.6rem auto;
    max-width: 300px;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid rgb(194, 194, 194);
    /* box-shadow: 0 0 6px 1px rgb(110, 110, 110); */
}

.form .title {
    margin: 10px auto;
    font-size: 2em;
}

.explanations {
    margin: 2px auto 0 auto;
    padding: 2px 15px 0 15px;
    box-shadow: none;
    max-width: 100%;
}

.explanations p {
    padding: 2px 5px;
    text-align: justify;
    background-color: rgb(128, 128, 128);
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63);
    /* box-shadow: 0 0 2px 1px rgb(124, 124, 124); */
}

.input-box {
    display: flex;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    padding: 8px 8px 0 8px;
}

.input-box input {
    background-color: rgb(65, 65, 65);
    margin: 0;
    width: 100%;
    padding: 3px 7px;
    border: none;
    border-bottom: 3px solid rgb(198, 235, 223);
    border-radius: 10px;
    color: white;
}

.input-box input:focus {
    border-bottom-color: rgb(136, 160, 152);
}

.input-box label {
    margin: 0 0 2px 0;
    min-width: 110px;
}

.button {
    width: 70%;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    background-color: rgb(159, 236, 255);
}

.button:hover {
    box-shadow: 0 0 3px 1px black;
}

.button:active {
    background-color: rgb(107, 225, 255);
}

.invalidInput {
    display: inline;
    margin: 2px auto 0 auto;
    padding: 2px 5px;
    border: none;
    margin-inline: auto;
    max-width: 100%;
}

.invalidInput p {
    padding: 2px 5px;
    text-align: justify;
    font-size: 0.8em;
    color: #960801;
    border-radius: 5px;
    border: 2px dashed rgb(66, 0, 0);
}

.helpOptions {
    width: 100%;
    text-align: center;
}

.helpOptions a:link {
    margin: 2px 0 0 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.helpOptions a:visited {
    color: rgb(255, 255, 255);
}

.helpOptions a:hover {
    color: rgb(153, 255, 221);
}

footer {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background: black;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border-top: 4px solid;
    border-image-source: radial-gradient(rgb(255, 255, 255), black);
    border-image-slice: 1;
}

footer a:link {
    text-decoration: none;
    color: rgb(253, 235, 152);
}

footer a:hover {
    color: rgb(190, 169, 72);
}

/*tablet*/
@media screen and (min-width: 480px) {
    .form {
        max-width: 500px;
    }

    .explanations {
        max-width: 100%;
    }


    .input-box label {
        width: 155px;
    }

    .input-box input {
        width: 0;
        flex-grow: 1;
    }

    .invalidInput {
        padding: 2px 60px 0 60px;
    }
}

/*desktop*/
@media screen and (min-width: 760px) {
    .form {
        margin-right: 5px;
        max-width: 600px;
    }

    .explanations {
        padding-inline: 25px;
    }

    .input-box label {
        width: 165px;
    }

    .input-box {
        padding-inline: 30px;
    }

    .invalidInput {
        padding: 2px 120px 0 120px;
    }

    .button {
        width: 45%;
        margin-right: 30px;
    }

}